<div class="bottom-navigation">
    <div class="nav-container">
        <button *ngFor="let item of navigationItems" class="nav-item" [class.selected]="selectedItem === item.id"
            [class.music-button]="item.isMusicButton" (click)="onNavClick(item)">
            <div class="nav-icon">
                <i
                    [class]="item.isMusicButton ? (isMusicPlaying ? 'fa-solid fa-volume-high' : 'fa-solid fa-volume-xmark') : item.icon"></i>
            </div>
            <span class="nav-label">{{ item.label }}</span>
        </button>
    </div>
</div>